.tag {
    background-color: grey;
    border-radius: 15px;
    padding:2px;
    font-size: 12px;
    color: white;
}
#userTable tr td {
min-width: 50px;
}
#userTable tr td div[data-user-detail] table th{
font-size: 16px;
}

#userTable tr td div[data-user-detail] table td{
font-size: 14px;

}